@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');
html{
/*    font-size: 62.5%; */
    /**RESET PARA REMS - 62.5%=10px de 16 px**/
    box-sizing: border-box;
}
 
*, *:before, *:after {
       box-sizing: inherit;
       margin: 0px;
       padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.contenedor{
    max-width: 960px;
}
.contenedor{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

img{
    max-width: 100%;
}

h2{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: .5rem;
    line-height: 1.2;
}
h4{
    font-size: 1.5rem;
    font-weight: 500;
}
h6{
     font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}


.body-template2{
    background-color: #ffffff;
}
.site-header{
    background-color: #343a40; 
}

.barra{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 1rem;
}

nav a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
    margin-right: 2rem;
}
nav a:hover{
    color:dimgrey;
}

.section{
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center; 
}

.parrafo{
    line-height: 2;
    font-weight: 300;
        
}
.section a{
    border-radius: 5%;
}

.btn{
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
    color: white;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: .25rem;
    padding: .375rem .75rem;
    line-height: 1.5;
    
}

.btn-azul{
    background-color: #007bff;
    border-radius: .25rem;
    margin-top: 20px;
}

.btn-gris{
    background-color: #6c757d;
    border-radius: .25rem;
    margin-top: 20px;
}


.btn:hover{
    color: black;
    opacity: 50%;
}

/**ANUNCIOS**/

.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.anuncio{
    flex-shrink: 0;
    flex-basis: calc(33.3% - 1rem);
    border: 2px solid #dfdfdf;
    border-radius:2%;
    margin-bottom: 2rem;
}

.contenido-anuncio{
    padding: 2rem;
    font-weight: 400;
}

.contenido-anuncio p{
    display: block;
 
}

.final-anuncio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botones{
    position:relative;
    display: inline-flex;
    vertical-align: middle;
    background-color: #ffffff;
    padding-top: 1rem;
   
}
.btn-1{
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    color: #6c757d;
    border-color: #6c757d;
}

.btn-2{
    
   padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    color: #6c757d;
    border-color: #6c757d;
    
    
}

.final-anuncio{
    color: #6c757d;
    font-size: 1.5rem;
    
}
.site-footer{
    color: #6c757d;
    margin-top: 12rem;
    margin-bottom: 8rem;
}
.site-footer a{
    color:#527bff;
    text-decoration: none;
}

.site-footer a:hover{
    text-decoration:underline;
    color: blue;
}

/**Template_02**/

.site-header-2{
    background-color: #ffffff;
    margin-top: 0px;
    
}
.barra-2{
    color: #343a40;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 1.8rem;
    border-bottom: 1px solid #dee2e6!important;
    
}
.barra-2 a{
    text-decoration: none;
    color:#212529;
    margin-left: 2rem;
}

.nav-2 a{
    text-decoration: none;
    color: #343a40;
    font-size: 1rem;
    margin-right: 3rem;
}

.nav-2 a:hover{
    color:#646f7a;
}

.logo-2{
    color:dimgray;
    font-weight: 400;
    margin-right: auto;
    font-size: 1.25rem;
    margin-left: 1rem;
}
.h1-templ-2{
    font-weight: 300;
    font-size: 3.5rem;
}

.p-2{
    line-height: 2;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 300;
}

.btn-templ2{
    border: 1px solid #007bff;
    color: #007bff;
    border-radius: 10%;
    padding:.375rem .75rem;
}

.btn-templ2 span{
    color:#007bff;
}

hr{
   color: #dee2e6;
    height: 0.15rem;
    max-width: 100%;
}

.encabezado-anuncio{
   border-bottom: 1px solid rgba(0,0,0,.125);
   background-color:#f7f7f7;
   text-align: center;
   margin-top: 0px;
   padding: 20px;
   border-top-right-radius: 5%;
   border-top-left-radius: 5%;

}

.anuncio-2{
    
    flex-shrink: 0;
    flex-basis: calc(33.3% - 1rem);
    border: 2px solid #dfdfdf;
    border-radius:2%;
    margin-bottom: 2rem;
   
    
}

.contenido-anuncio-2{
    font-weight: 400;
    border-radius: 2%;
    
}
.contenido-anuncio-2 p{
    max-width: 40%;
    margin: 2rem auto;
}
.contenido-anuncio-2 p span{
    font-weight: 500;
    font-size: 2.5rem;
    margin-right: 1rem;
}

.final-anuncio-2{
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: center;
    
}

.btn-template2{
    border-color: #007bff;
    color:#007bff;
     font-size: 1.25rem;
    border-radius: .3rem;
    padding: .5rem 1rem;
    
}
.btn-template2:hover{
    background-color:#007bff;
    opacity: 100%;
    color: #ffffff;
}

.btn-template2-2{
    background-color: #007bff;
    font-size: 1.25rem;
    border-radius: .3rem;
    padding: .5rem 1rem;
    
}
.btn-template2-2:hover{
    background-color: blue;
    color: #ffff;
    opacity: 100%;
}

/**FOOTER-2**/

.contenedor-ls-footer{
    display: flex;
    justify-content:space-between;
    border-top: 1px solid #dee2e6!important;
    margin-top: 4rem;
}

.ls-footer{
/*    flex-basis: auto;*/
    margin-bottom: 2rem;
    padding: 5rem;
    
}

.contenido-ls{
     display: block;
    
}

.contenido-ls ul{
    color: dimgrey;
    list-style: none;
}
.contenido-ls ul li:hover{
   text-decoration-line: underline;
    
}

.contenido-ls p{
    color: dimgrey;
}
.primero{
    font-weight: 700;
    font-size:1.25rem;
    color:#212529;
    text-decoration-line: none;
}
/**TEMPLATE-3**/

.header-t3{
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.logo_3{
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    text-align: center;
    width: 72px;
    height: 72px;
    margin-bottom: 1.5rem;
}
}
    
}
.header-t3 h1{
    font-weight: 500;
    color: #212529;
    margin-bottom: 0px;
}

.header-t3 p{
    font-weight: 300;
    font-size: 1.25rem;
    max-width: 75%;
    margin-top: 0px;
    margin: auto;
}

.contenido-form{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
form{
    display: block;
    margin-top: 0em;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex:1;
    order:1;
   
}
.c-s-z{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
   
}
.col-md-5{
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-md-5{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;  
}
.col-state{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-state{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}



.mb-3{
    margin-bottom: 1rem!important;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}
.fc-redeem{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem 0rem.0rem .25rem; 
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
}
.fm-username{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius:.0rem .25rem .25rem .0rem;
}

.form-control{
    display: block;
    width: 100%;
   padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-grupo{
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;
}

.input-pcode{
    padding: .5rem!important;
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.input-grupo-emoji{
    display: flex;
    margin-right: -1px;
}
.input-grupo-text{
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem .0rem .0rem .25rem;
}
.text-muted {
    color: #6c757d!important;
}

input {
    overflow: visible;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.custom-select{
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding:.375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) no-repeat right .75rem center/8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

select{
    word-wrap: normal;
}
.col-md-4{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;  
}



.col-md-3{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-3{
    flex: 0 0 25%;
    max-width: 25%;
}

hr{
    margin-bottom: 1.5rem!important;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    margin-top:1rem;
}
.chk-box{
    padding: ;
}
.custom-control {
    position: relative;
    display: block;
    
}
.
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
}
.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}
.custom-checkbox .custom-control-label::before {
    border-radius: .25rem;
}

.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.custom-control-label::after{
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
}

.my-3 {
    margin-bottom: 1rem!important;
    margin-top: 1rem!important;
}

.d-block{
    display: block!important;
}
w-100{
    width: 100%!important;
}
.col-md-6{
    position: relative;
    width: 100%;
    padding-left: 0px;
    
}
.col-md-6{
    flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-md-6:first-child{
    padding-right: 15px;
}

small {
    font-size: 80%;
    font-weight: 400;
}

.col-md-3 {
    flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col-md-3{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    
}

.buttom-3{
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: #ffffff;
    background-color: #007bff;
    border-color: #007bff;
    overflow: visible;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    user-select: none;
    border: 1px solid transparent;
}
.buttom-3:hover{
    background-color: blue;
    
}
/*Inicio lista card*/

.contenido-list{
    order: 2;
}
.col-md-4{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.yc{
    align-items: center!important;
    justify-content: space-between!important;
    display: flex!important;
    margin-bottom: 1rem!important;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top:0;
    color: #6c757d;
}
.secondary-text{
    color: #ffffffff;
    background-color: #6c757d;
     padding: .25em .4em;
    border-radius: 10rem;
  
}
.num3{
    display: inline-block;
    padding-right: .6em;
    padding-left: .6em;
   
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.lista-grupo{
    display:flex;
    flex-direction: column;
    padding-left: 0px;
    margin-top: 0px;
}
mb-4{
    margin-bottom: 1.5rem!important;
    
}


.list-card{
    display: flex!important;
    justify-content: space-between!important;
    position: relative;
    padding: 1rem 1.60rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    line-height: 1.25;
    border-top: none;
}
.list-card:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-top:1px solid rgba(0,0,0,.125);;
}
.list-card:last-of-type{
   border-bottom-left-radius: .25rem;
   border-bottom-right-radius: .25rem;
    
}

.my-0{
    margin-bottom: 0!important;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}
.text-prom{
    color: #28a745!important;
    background-color:#ffffff;
    font-size: 1rem;
}
}
.promo-code{
    padding: .5rem!important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.caja-b-promo{
    margin-left: -1px;
    display: flex;
}
.redeem{
    position: relative;
    z-index: 2;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    display: inline-block;
    font-weight: 400;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .0rem .25rem .25rem .0rem;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    align-items: baseline;
}
.foot-templ-3{
    color: #6c757d;
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    display: block;
}
.foot-templ-3 a{
    color: #007bff;
    text-decoration: none;
    padding-right: 10px;
}
.foot-templ-3 a:hover{
    color:#06266E;
    text-decoration-line: underline;
}



































