@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');
html{
    font-size: 62.5%; /**RESET PARA REMS - 62.5%=10px de 16 px**/
    box-sizing: border-box;
}
 
*, *:before, *:after {
       box-sizing: inherit;
       margin: 0px;
       padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    background-color: #f8f9fa;
}

img{
    max-width: 100%;
}

h1{
    font-size: 3.8rem;
    font-weight: 400;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.site-header{
    height: 10rem;
    background-color: #343a40;
    
}

.barra{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 3rem;
}

nav a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5rem;
    margin-right: 2rem;
}
nav a:hover{
    color:dimgrey;
}

.section{
    margin-top: 2rem;
    margin-bottom: 10rem;
    text-align: center; 
}

.parrafo{
    line-height: 2;
    font-weight: 300;
        
}

.btn{
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
    color: white;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 1.8rem;
    border-radius: .25rem;
    padding: .375rem .75rem;
    line-height: 1.5;
}

.btn-azul{
    background-color: #007bff;
}

.btn-gris{
    background-color: #6c757d;
}


.btn:hover{
    color: black;
    opacity: 50%;
}

/**ANUNCIOS**/

.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.anuncio{
    flex-shrink: 0;
    flex-basis: calc(33.3% - 1rem);
    border: 2px solid #dfdfdf;
    border-radius:2%;
    margin-bottom: 2rem;
}

.contenido-anuncio{
    padding: 2rem;
    font-weight: 400;
}

.contenido-anuncio p{
    display: block;
 
}

.final-anuncio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botones{
    position:relative;
    display: inline-flex;
    vertical-align: middle;
    border: 1px solid gray;
    background-color: #ffffff;
   
}
.btn-1{
    padding: .25rem .5rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 50%;
    color: gray;
    margin-right: 1px;
    
}

.btn-2{
    
    padding: .25rem .5rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 50%;
    color: gray;
    
    
}

.final-anuncio{
    color: #6c757d;
    font-size: 1.5rem;
    
}
.site-footer{
    color: #6c757d;
    margin-top: 12rem;
    margin-bottom: 8rem;
}
.site-footer a{
    color:#527bff;
    text-decoration: none;
}

.site-footer a:hover{
    text-decoration:underline;
    color: blue;
}

/**Template_02**/

.site-header-2{
    height: 8rem;
    background-color: #ffffff;
    margin-top: 0px;
    
}
.barra-2{
    color: #343a40;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 3rem;
    
}
.barra-2 a{
    text-decoration: none;
    color:#212529;
    margin-left: 2rem;
}

.nav-2 a{
    text-decoration: none;
    color: #343a40;
    font-size: 1.5rem;
    margin-right: 3rem;
}

.nav-2 a:hover{
    color:#646f7a;
}

.logo-2{
    color:dimgray;
    font-weight: 500;
    font-size: 2.5rem;
    margin-left: 1rem;
}
.h1-templ-2{
    font-weight: 300;
    font-size: 5rem;
    padding-top: 5rem;
}

.p-2{
    font-weight: 200;
    line-height: 2;
    font-size: 2rem;
    margin-top: 1rem;
}

.btn-templ2{
    border: 1px solid #007bff;
    color: #007bff;
    border-radius: 10%;
    padding: 1rem;
}

.btn-templ2 span{
    color:#007bff;
}

hr{
   color: #dee2e6;
    height: 0.15rem;
    max-width: 100%;
}

.encabezado-anuncio{
   border-bottom: 1px solid rgba(0,0,0,.125);
   background-color:#f7f7f7;
   text-align: center;
   margin-top: 0px;
  padding: 20px;

}

.anuncio-2{
    
    flex-shrink: 0;
    flex-basis: calc(33.3% - 1rem);
    border: 2px solid #dfdfdf;
    border-radius:2%;
    margin-bottom: 2rem;
   
    
}

.contenido-anuncio-2{
    font-weight: 400;
    
}
.contenido-anuncio-2 p{
    max-width: 40%;
    margin: 2rem auto;
}
.contenido-anuncio-2 p span{
    font-weight: 500;
    font-size: 4rem;
    margin-right: 1rem;
}

.final-anuncio-2{
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: center;
    
}

.btn-template2{
    border-color: #007bff;
    color:#007bff;
    font-size: 2rem;
    border-radius: 5%;
    padding: 1rem 3rem;
    
}
.btn-template2:hover{
    background-color:#007bff;
    opacity: 100%;
    color: #ffffff;
}

.btn-template2-2{
    background-color: #007bff;
    font-size: 2rem;
    border-radius: 5%;
    padding: 1rem 3rem;
    
}
.btn-template2-2:hover{
    background-color: blue;
    color: #ffff;
    opacity: 100%;
}

/**FOOTER-2**/

.contenedor-ls-footer{
    display: flex;
    justify-content:space-between;
   
}

.ls-footer{
    flex-basis: auto;
    margin-bottom: 2rem;
    padding: 5rem;
    
}

.contenido-ls{
     display: block;
    
}

.contenido-ls ul{
    color: dimgrey;
    list-style: none;
}
.contenido-ls ul li:hover{
   text-decoration-line: underline;
    
}

.contenido-ls p{
    color: dimgrey;
}
.primero{
    font-weight: 700;
    font-size:2rem;
    color:#212529;
    text-decoration-line: none;
}
/**TEMPLATE-3**/

.header-t3{
    text-align: center;
}
.logo_3{
    max-width: 6%;
    padding-top: 4rem;
    
}
.header-t3 h1{
    font-weight: 500;
    color: #212529;
    margin-bottom: 0px;
}

.header-t3 p{
    font-weight: 300;
    font-size: 2rem;
    max-width: 75%;
    margin-top: 0px;
    margin: auto;
}

/**FORMULARIOS DE CONTACTO**/

.wrapper{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 100px 100px;
    margin-top: 3rem;
}

input{
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 1rem;
    color: #495057;
    }
    /**height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
 **/

.first-last-name input{
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.first-last-name label{
    font-size: 2rem;
}
.first-last-name{
    margin-bottom: 1rem;
}

.form-field input{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    
}

.form-field label{
    font-size: 2rem;
    display: block;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    
}
.selct-choise{
    margin-top: 2rem;
}
.selct-choise input{
    margin-top: 1rem;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
   
    
}

.paymet label{
    display: block;
}

.info-cards{
    margin-bottom: 2rem;
}
.info-cards label{
    font-size: 2rem;
    margin-top: 2rem;
}
.info-cards input{
    margin-top: 1rem;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    
}
.continue input{
    width: 100%;
}

.list-card{
    display: flex!important;
    justify-content: space-between!important;
    position: relative;
    display: block;
    padding: 1rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    
}
.lista{
    display: block;
}

.lista label{
    font-size: 2rem;
    margin-top: 2rem;
    
}

.lista input{
    width: 100%;
    margin-top: 1rem;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5a6268;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    
}

.list-card span{
    color: #6c757d;
}

.you-cart{
    margin-top: 3rem;
    margin-bottom: 10rem;
    
}
.foot-3{
    text-align: center;
    color: dimgray;
}







